POV.API.WebHookConekta/API.WebHookConekta/Service References/WCF.OxxoPaid/OxxoPaidService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OxxoPaidService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49196/OxxoPaidService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49196/OxxoPaidService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOxxoPaidService_UpdateAspirantes_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAspirantes" />
  </wsdl:message>
  <wsdl:message name="IOxxoPaidService_UpdateAspirantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAspirantesResponse" />
  </wsdl:message>
  <wsdl:message name="IOxxoPaidService_RetrieveAspirante_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAspirante" />
  </wsdl:message>
  <wsdl:message name="IOxxoPaidService_RetrieveAspirante_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAspiranteResponse" />
  </wsdl:message>
  <wsdl:portType name="IOxxoPaidService">
    <wsdl:operation name="UpdateAspirantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOxxoPaidService/UpdateAspirantes" message="tns:IOxxoPaidService_UpdateAspirantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOxxoPaidService/UpdateAspirantesResponse" message="tns:IOxxoPaidService_UpdateAspirantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAspirante">
      <wsdl:input wsaw:Action="http://tempuri.org/IOxxoPaidService/RetrieveAspirante" message="tns:IOxxoPaidService_RetrieveAspirante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOxxoPaidService/RetrieveAspiranteResponse" message="tns:IOxxoPaidService_RetrieveAspirante_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOxxoPaidService" type="tns:IOxxoPaidService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateAspirantes">
      <soap:operation soapAction="http://tempuri.org/IOxxoPaidService/UpdateAspirantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAspirante">
      <soap:operation soapAction="http://tempuri.org/IOxxoPaidService/RetrieveAspirante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OxxoPaidService">
    <wsdl:port name="BasicHttpBinding_IOxxoPaidService" binding="tns:BasicHttpBinding_IOxxoPaidService">
      <soap:address location="http://localhost:49196/OxxoPaidService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>